.gameboy {
  max-width: 768px;
  position: relative;
  display: block;
  font-size: 1.5rem;
  margin: 4rem auto;
  width: 100%;
  height: 780px;
  background: #eee;
  border-radius: 10px 10px 60px 10px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.1);

  @media screen and (max-width: 768px) {
    font-size: 0.8rem;
    padding: 0;
    margin: 0 0 1rem 0;
    height: 400px;
    border-radius: 0;
    box-shadow: none;
    background-color: unset;
  }

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 31px;
    border-bottom: 4px solid #e0e0e0;

    @media screen and (max-width: 768px) {
      content: none;
      width: 0;
      height: 0;
      border: none;
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    width: 30%;
    height: 31px;
    border-right: 4px solid #e0e0e0;

    @media screen and (max-width: 768px) {
      content: none;
      width: 0;
      height: 0;
      border: none;
    }
  }

  & .gameboy-screen-cont {
    position: relative;
    top: 60px;
    left: 20px;
    width: calc(100% - 40px);
    height: 700px;
    margin-bottom: 58px;
    background-color: #777;
    border-radius: 13px 13px 50px 13px;

    @media screen and (max-width: 768px) {
      content: none;
      width: 100%;
      height: 360px;
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;
      border: none;
      border-radius: 0;
      background-color: unset;
    }

    & .gameboy-screen {
      position: relative;
      top: 30px;
      margin-left: auto;
      margin-right: auto;
      background: #202428;
      width: calc(100% - 140px);
      height: 600px;
      box-shadow: inset 3px 3px rgba(0, 0, 0, 0.15);
      padding: 0 10px;

      @media screen and (max-width: 768px) {
        content: none;
        width: calc(100%);
        height: 360px;
        top: 0;
        left: 0;
        margin: 0;
        border: none;
        border-radius: 0;
      }

      & .header {
        position: relative;
        top: -74px;
        width: 100%;
        height: 30px;
        padding-top: 10px;
        box-sizing: border-box;
        text-align: center;
        font-size: 10px;
        font-family: sans-serif;
        color: #b3b3b3;
        user-select: none;

        @media screen and (max-width: 768px) {
          padding: 0;
          display: none;
          top: 0;
        }

        &:before {
          content: "";
          position: absolute;
          left: -43px;
          top: 12px;
          width: 30%;
          height: 3px;
          background-color: #8b1d90;
          box-shadow: 0 6px 0 #283593;

          @media screen and (max-width: 768px) {
            content: none;
            width: 0;
            height: 0;
            border: none;
          }
        }

        &:after {
          content: "";
          position: absolute;
          right: -43px;
          top: 12px;
          width: 30%;
          height: 3px;
          background-color: #8b1d90;
          box-shadow: 0 6px 0 #283593;

          @media screen and (max-width: 768px) {
            content: none;
            width: 0;
            height: 0;
            border: none;
          }
        }
      }

      .main {
        overflow: hidden;

        @media screen and (max-width: 768px) {
        }

        & .ash {
          display: flex;
          justify-content: center;

          & img {
            width: 100px;
            height: 100px;

            @media screen and (max-width: 768px) {
              width: 80px;
              height: 80px;
            }
          }
        }

        & .loading {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        & .text {
          margin-top: 1rem;
          color: white;
          font-family: "DungGeunMo";
          white-space: break-spaces;

          .continue,
          .close {
            text-align: right;

            a {
              color: white;
              text-decoration: none;
            }
          }
        }
      }
    }

    & .power {
      content: "";
      position: sticky;
      width: 10px;
      height: 10px;
      top: 220px;
      margin-top: -2.8rem;
      margin-left: -2.8rem;
      border-radius: 100%;
      background-color: #b98181;
      -webkit-transition: background-color 300ms linear;
      -moz-transition: background-color 300ms linear;
      -ms-transition: background-color 300ms linear;
      -o-transition: background-color 300ms linear;
      transition: background-color 300ms linear;

      &:before {
        content: "BATTERY";
        position: relative;
        top: 4px;
        left: -14px;
        font-size: 10px;
        font-family: sans-serif;
        color: #b3b3b3;

        @media screen and (max-width: 768px) {
          content: none;
          width: 0;
          height: 0;
          border: none;
        }
      }

      &.power-on {
        background-color: #0f0;
        box-shadow: 0 0 3px 1px #16a34a;

        @media screen and (max-width: 768px) {
          content: none;
          width: 0;
          height: 0;
          border: none;
          box-shadow: none;
          margin-top: 0;
        }
      }
    }

    & .sound {
      content: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='music' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' class='svg-inline--fa fa-music fa-w-16'%3E%3Cpath fill='%23585858' d='M511.99 32.01c0-21.71-21.1-37.01-41.6-30.51L150.4 96c-13.3 4.2-22.4 16.5-22.4 30.5v261.42c-10.05-2.38-20.72-3.92-32-3.92-53.02 0-96 28.65-96 64s42.98 64 96 64 96-28.65 96-64V214.31l256-75.02v184.63c-10.05-2.38-20.72-3.92-32-3.92-53.02 0-96 28.65-96 64s42.98 64 96 64 96-28.65 96-64l-.01-351.99z' class=''%3E%3C/path%3E%3C/svg%3E");
      position: sticky;
      width: 10px;
      height: 10px;
      top: 220px;
      left: calc(100% - 2rem);
      transform: scale(2);
      margin-right: -2.8rem;
      cursor: pointer;
      -webkit-transition: background-color 300ms linear;
      -moz-transition: background-color 300ms linear;
      -ms-transition: background-color 300ms linear;
      -o-transition: background-color 300ms linear;
      transition: background-color 300ms linear;

      @media screen and (max-width: 768px) {
        content: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='music' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' class='svg-inline--fa fa-music fa-w-16'%3E%3Cpath fill='%23585858' d='M511.99 32.01c0-21.71-21.1-37.01-41.6-30.51L150.4 96c-13.3 4.2-22.4 16.5-22.4 30.5v261.42c-10.05-2.38-20.72-3.92-32-3.92-53.02 0-96 28.65-96 64s42.98 64 96 64 96-28.65 96-64V214.31l256-75.02v184.63c-10.05-2.38-20.72-3.92-32-3.92-53.02 0-96 28.65-96 64s42.98 64 96 64 96-28.65 96-64l-.01-351.99z' class=''%3E%3C/path%3E%3C/svg%3E") !important;
        top: 20px;
        right: 0;
        margin-top: 2rem;
        margin-right: 1rem;
        border: none;
        z-index: 1;

        &.sound-on {
          content: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='music' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' class='svg-inline--fa fa-music fa-w-16'%3E%3Cpath fill='%23ffffff' d='M511.99 32.01c0-21.71-21.1-37.01-41.6-30.51L150.4 96c-13.3 4.2-22.4 16.5-22.4 30.5v261.42c-10.05-2.38-20.72-3.92-32-3.92-53.02 0-96 28.65-96 64s42.98 64 96 64 96-28.65 96-64V214.31l256-75.02v184.63c-10.05-2.38-20.72-3.92-32-3.92-53.02 0-96 28.65-96 64s42.98 64 96 64 96-28.65 96-64l-.01-351.99z' class=''%3E%3C/path%3E%3C/svg%3E") !important;
        }
      }

      &.sound-on {
        content: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='music' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' class='svg-inline--fa fa-music fa-w-16'%3E%3Cpath fill='currentColor' d='M511.99 32.01c0-21.71-21.1-37.01-41.6-30.51L150.4 96c-13.3 4.2-22.4 16.5-22.4 30.5v261.42c-10.05-2.38-20.72-3.92-32-3.92-53.02 0-96 28.65-96 64s42.98 64 96 64 96-28.65 96-64V214.31l256-75.02v184.63c-10.05-2.38-20.72-3.92-32-3.92-53.02 0-96 28.65-96 64s42.98 64 96 64 96-28.65 96-64l-.01-351.99z' class=''%3E%3C/path%3E%3C/svg%3E");
      }
    }
  }
}

/* 모바일 가상 요소 숨김 - nesting 내부 미디어쿼리 fallback */
@media screen and (max-width: 768px) {
  .gameboy::before,
  .gameboy::after {
    content: none !important;
    display: none !important;
  }

  .gameboy .gameboy-screen-cont .gameboy-screen .header::before,
  .gameboy .gameboy-screen-cont .gameboy-screen .header::after {
    content: none !important;
    display: none !important;
  }
}
