---
import BaseLayout from '@/layouts/BaseLayout.astro';
import GameboyComponent from '@/components/About/Gameboy';
---

<BaseLayout title="about 발가락">
	<main>
	  <GameboyComponent client:load />
	</main>
</BaseLayout>
