---
import BaseLayout from '@/layouts/BaseLayout.astro';
import GameboyComponent from '@/components/About/Gameboy';
---

<BaseLayout title="About">
	<main>
	  <GameboyComponent client:only="react" />
	</main>
</BaseLayout>
