---
import "@/style/globals.scss";
import BaseLayout from "@/layouts/BaseLayout.astro";

const posts = await Astro.glob("./posts/**/*.{md,mdx}");
---

<BaseLayout title="Board">
  <main>
    <h1>게시판</h1>
    <p>일상</p>
    <ul>
      {posts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
    </ul>
  </main>
</BaseLayout>
