---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
  <main
    class="font-['DungGeunMo'] mx-auto p-4 w-[768px] max-w-[calc(100%-2rem)] text-center"
  >
    <h1 class="text-6xl break-keep m-4 text-gradient">Hello, World!</h1>
    <h2 class="text-4xl break-keep text-gradient">개발자 발가락</h2>
  </main>
</BaseLayout>
